body {
	background-color: aqua;
}

p {
	color: blue;
}

h2 {
	font-size: 60px;
	color: darkmagenta;
	background-image: url(/../logosHome-work/Js_KR_2_Zhuravskyi/homework_js_kr2_zhuravskyi/img/1140265.jpg);
}
